<div class='centered about'>
  Is that a chair?<br><br>
  A simple task for 5 year olds,<br>
  an impossible challenge for computers.<br><br>

  Your ideal future is a probability cloud.<br>
  Guess, test, repeat → Converge.<br><br>

  Upward, not northward.
</div>